[submodule "envoy"]
	path = envoy
	url = https://github.com/envoyproxy/envoy.git
[submodule "bssl-compat/external/boringssl"]
	path = bssl-compat/external/boringssl
	url = git@github.com:google/boringssl.git
