/bazel-*
BROWSE
/build
/build_*
build
*.bzlc
.cache
.classpath
.clwb/
/ci/bazel-*
compile_commands.json
cscope.*
.deps
/docs/landing_source/.bundle
/generated
.idea/
.project
*.pyc
**/pyformat
SOURCE_VERSION
.settings/
*.sw*
tags
TAGS
/test/coverage/BUILD
/tools/.aspell.en.pws
.vimrc
.vs
.vscode
.obsidian
*.db
cmake-build-debug
.ccls-cache
cscope.*
*~
.cproject
user.bazelrc
bssl-compat/include/ossl.h
bssl-compat/include/ossl/
bssl-compat/include/openssl/
bssl-compat/source/ossl.c
bssl-compat/source/ERR_GET_LIB.c
bssl-compat/source/ERR_GET_REASON.c
bssl-compat/source/crypto/bytestring/cbs.c
bssl-compat/source/crypto/bytestring/cbb.c
bssl-compat/source/crypto/bytestring/internal.h
bssl-compat/source/crypto/fipsmodule/bn/cmp.c
bssl-compat/source/crypto/asn1/a_int.c
bssl-compat/source/crypto/bio/bio_test.cc
bssl-compat/source/crypto/test/test_util.h
bssl-compat/source/crypto/test/test_util.cc
bssl-compat/source/crypto/internal.h
