resources:
  containers:
  - container: envoy-build-image
    image: envoyproxy/envoy-build:latest

trigger:
  branches:
    include:
    - 'master'

jobs:
  - job: build
    dependsOn: []
    pool:
      vmImage: 'Ubuntu 16.04'
    container: envoy-build-image
    steps:
      - checkout: self
        submodules: true
      - script: |
          bazel build //:envoy && \
          ./bazel-bin/envoy --version
        displayName: 'Build Envoy-OpenSSL'
# - job: test
#   dependsOn: []
#   pool:
#     vmImage: 'Ubuntu 16.04'
#   container: envoy-build-image
#   steps:
#     - checkout: self
#       submodules: true
#     - script: |
#         bazel test //test/common/... //test/extensions/...
#       displayName: 'Test Envoy-OpenSSL'
#  - job: test-envoy
#    dependsOn: []
#    pool:
#      vmImage: 'Ubuntu 16.04'
#    container: envoy-build-image
#    steps:
#      - checkout: self
#        submodules: true
#      - script: bazel test @envoy//test/...
#        displayName: 'Test Envoy'
  - job: verify
    dependsOn: []
    pool:
      vmImage: 'Ubuntu 16.04'
    container: envoy-build-image
    steps:
      - checkout: self
        submodules: true
      - script: |
          bazel cquery "deps(//:envoy)" | grep @boringssl
          if [[ $(bazel cquery "deps(//:envoy)" 2> /dev/null | grep @boringssl) ]]; then
            echo "Envoy still depends on BoringSSL in boringssl=disabled mode!"
            exit 1
          else
            echo "Envoy was built without BoringSSL dependencies!"
          fi
        displayName: 'Verify Envoy-OpenSSL'
