name: Build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-22.04

    steps:

    - name: Checkout
      uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      with:
        submodules: 'true'

    - name: Prerequisites
      run: sudo apt install -y libclang-13-dev kcov

    - name: Configure
      run: cmake -B ${{github.workspace}}/build -S ${{github.workspace}}/bssl-compat -DCMAKE_BUILD_TYPE=RelWithDebInfo

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config RelWithDebInfo

    - name: Test
      env:
        OPENSSL_CONF: ${{github.workspace}}/bssl-compat/source/test/openssl.cnf
      run: ctest --test-dir ${{github.workspace}}/build --output-junit ${{github.workspace}}/build/results.xml

    - name: Test Results
      uses: EnricoMi/publish-unit-test-result-action@e780361cd1fc1b1a170624547b3ffda64787d365 # v2.12.0
      if: always()
      with:
        junit_files: "${{github.workspace}}/build/results.xml"

    - name: Test Coverage
      env:
        OPENSSL_CONF: ${{github.workspace}}/bssl-compat/source/test/openssl.cnf
      run: kcov --exclude-pattern=/usr/include/,/_deps/,_test.,/test_,_test_ ${{github.workspace}}/build/kcov ${{github.workspace}}/build/utests-bssl-compat --gtest_output=xml:${{github.workspace}}/build/results.xml

    - name: Coverage Results
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: coverage-results
        path: ${{github.workspace}}/build/kcov/**
