name: Build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Checkout BoringSSL (submodule)
      run: git submodule update --init --depth=1 bssl-compat/external/boringssl

    - name: Install packages
      run: sudo apt install -y libclang-13-dev

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -S ${{github.workspace}}/bssl-compat -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      env:
        OPENSSL_CONF: ${{github.workspace}}/bssl-compat/source/test/openssl.cnf
      run: ctest --test-dir ${{github.workspace}}/build --output-junit ${{github.workspace}}/build/results.xml

    - name: Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: "${{github.workspace}}/build/results.xml"

